@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

:root {
    --primaryFont:
        "Inter Variable", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --secondaryFont: "Newsreader";
    --background: #ededed;
    --error: #eb5758;
    --primary: #2c3cb8;
    --black: #0d0d0d;
}

@font-face {
    font-family: "Inter Variable";
    src: url("../public/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../public/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default !important;
    font-family: "Inter Variable", sans-serif;
}

html,
body {
    font-family: var(--primaryFont);
    height: 100%;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    background: var(--background);
}

::selection {
    background: #e1e1e1;
}
